<ion-view hide-back-button="false">
  <ion-nav-title>检查更新</ion-nav-title>
  <ion-content style="text-align: center">
    <div style="color: gray; padding-top: 45%;font-size: 18px;margin-bottom: 20px">
      <p>{{versionText}}</p>
    </div>
    <button ng-click="update()" style="background-color: #108678;
                   color: white;padding: 15px 20px;
                   border: transparent;
                   border-radius: 3px;
                   width: 30%;
                   margin: auto;
                   display: {{display}}">立即更新</button>
  </ion-content>
</ion-view>
